# Settings for sidebar patch
# http://www.lunar-linux.org/index.php?option=com_content&task=view&id=44

set sidebar_width=25
set sidebar_visible=no
set sidebar_delim = "|"
set sidebar_sort=no
#set sidebar_folderindent=yes

bind index K sidebar-prev
bind index J sidebar-next
bind index L sidebar-open

# color sidebar_new green default

# b toggles sidebar visibility
macro index b '<enter-command>toggle sidebar_visible<enter>'
macro pager b '<enter-command>toggle sidebar_visible<enter>'
