[submodule "vim.symlink/bundle/tcomment_vim"]
	path = vim.symlink/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = https://github.com/wincent/command-t
[submodule "vim.symlink/bundle/vim-airline"]
	path = vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim.symlink/bundle/vim-align"]
	path = vim.symlink/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "vim.symlink/bundle/vim-xkbswitch"]
	path = vim.symlink/bundle/vim-xkbswitch
	url = http://github.com/lyokha/vim-xkbswitch
[submodule "vim.symlink/bundle/vim-ansible-yaml"]
	path = vim.symlink/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml
[submodule "vim.symlink/bundle/vim-go"]
	path = vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
